:root {
  --brand-color: #2196f3;
  --bottom-color: #2f303a;
  --letter-color: #757575;
  --tittle-color: #212121;
  --company-color: #f5f4fa;
}
body {
  color: var(--tittle-color);
  font-family: roboto, sans-serif;
}
header {
  height: 80px;
  width: 1600px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
.logo {
  position: absolute;
  font-family: raleway, sans-serif;
  color: var(--brand-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.192;
  text-align: left;
  font-weight: bold;
  font-size: 26px;
  height: 31px;
  width: 145px;
  margin-left: 215px;
  margin-top: 24px;
  border-radius: nullpx;
}
.menu {
  text-decoration: none;
  font-weight: medium;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--tittle-color);
  padding-right: 62px;
}
.box1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16px;
  width: 281px;
  margin-left: 453px;
  margin-top: 32px;
  border-radius: nullpx;
}
.menu:active {
  color: var(--brand-color);
}
.menu:hover {
  color: var(--brand-color);
}
.contact {
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: medium;
  line-height: 1.143;
  color: var(--letter-color);
}
.contact:visited {
  color: var(--letter-color);
}
.contact:active {
  color: var(--brand-color);
}
.contact:hover {
  color: var(--brand-color);
}
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: 344px;
}
.one {
  height: 16px;
  width: 135px;
  margin-top: 32px;
  margin-right: 50px;
  border-radius: nullpx;
}
.two {
  height: 16px;
  width: 118px;
  margin-right: 219px;
  margin-top: 32px;
  border-radius: nullpx;
}
.tittle {
  color: white;
  background-color: var(--bottom-color);
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  line-height: 1.364;
  width: 1600px;
  height: 600px;
  margin-left: -4px;
  margin-top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h1 {
  position: absolute;

  width: 696px;
  height: 120px;
  margin: 200px 452px 280px 452px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: bold;
  line-height: 1.875;
  border: none;
  border-radius: 4px;
  font-family: roboto, sans-serif;
}
.init {
  background-color: var(--brand-color);
  color: white;
  width: 261px;
  height: 50px;
  margin-top: 350px;
  justify-content: center;
}
.button:hover {
  color: white;
  background-color: var(--brand-color);
}
.description {
  width: 1170px;
  height: 122px;
  margin-left: 215px;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description > li > h3 {
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.143;
}
.description > li > p {
  color: var(--letter-color);
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.714;
}
.description-work {
  width: 1173.16px;
  height: 425px;
  margin-top: 95px;
  margin-left: 215px;
}
.description-work > h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.167;
  width: 371.15px;
  height: 46.24px;
  margin-left: 404.43px;
}
.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}
.description-company {
  background-color: var(--company-color);
  width: 1600px;
  height: 648px;
  margin-top: 94px;
}
.description-company > h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.167;
  width: 263px;
  height: 42px;
  margin-left: 669px;
  padding-top: 94px;
}
.workers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1177px;
  height: 368px;
  margin-left: 208px;
  padding-top: 50px;
}
.workers > li > h3 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: medium;
  line-height: 1.188;
}
.workers > li > p {
  color: var(--letter-color);
  text-align: center;
  letter-spacing: 3%;
  font-weight: regular;
  line-height: 1.188;
}
.workers > li {
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1696px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.end {
  background-color: var(--bottom-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 252px;
}
.final {
  margin-top: 60px;
  margin-left: 215px;
}
.box4 {
  height: 92px;
  margin-top: 100px;
  margin-left: 215px;
}
.info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.714;
  font-style: normal;
}
.info:hover {
  color: var(--brand-color);
}
.address {
  color: white;
}
.list > li > h3 {
  text-align: left;
  letter-spacing: 0.16em;
  font-weight: bold;
  line-height: 2;
}
.list > li > p {
  color: var(--letter-color);
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.875;
}
.list > li {
  cursor: pointer;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.active {
  color: var(--brand-color);
}
.option {
  color: white;
  background-color: var(--brand-color);
}
.content {
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
  margin-top: 106px;
  margin-bottom: 34px;
}
.box5 {
  width: 611px;
  height: 54px;
  margin-left: 280px;
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}
