:root {
  --brand-color: #2196f3;
  --bottom-color: #2f303a;
  --letter-color: #757575;
  --tittle-color: #212121;
  --company-color: #f5f4fa;
}
body {
  color: var(--tittle-color);
  font-family: roboto, sans-serif;
}
li {
  list-style-type: none;
}
.logo {
  font-family: raleway, sans-serif;
  color: var(--brand-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.192;
  text-align: left;
  font-weight: bold;
  font-size: 26px;
}
.menu {
  text-decoration: none;
  font-weight: medium;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--tittle-color);
}

.menu:active {
  color: var(--brand-color);
}
.menu:hover {
  color: var(--brand-color);
}
.contact {
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: medium;
  line-height: 1.143;
  color: var(--letter-color);
}
.contact:visited {
  color: var(--letter-color);
}
.contact:active {
  color: var(--brand-color);
}
.contact:hover {
  color: var(--brand-color);
}
.tittle {
  color: white;
  background-color: var(--bottom-color);
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  line-height: 1.364;
}
.button {
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: bold;
  line-height: 1.875;
  border: none;
  border-radius: 4px;
  font-family: roboto, sans-serif;
}
.init {
  background-color: var(--brand-color);
  color: white;
}
.button:hover {
  color: white;
  background-color: var(--brand-color);
}
.description > li > h3 {
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.143;
}
.description > li > p {
  color: var(--letter-color);
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.714;
}
.description-work > h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.167;
}
.description-company {
  background-color: var(--company-color);
}
.description-company > h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  line-height: 1.167;
}
.workers > li > h3 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: medium;
  line-height: 1.188;
}
.workers > li > p {
  color: var(--letter-color);
  text-align: center;
  letter-spacing: 3%;
  font-weight: regular;
  line-height: 1.188;
}
.end {
  background-color: var(--bottom-color);
  text-align: left;
}
.info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.714;
  font-style: normal;
}
.info:hover {
  color: var(--brand-color);
}
.address {
  color: white;
}
.list > li > h3 {
  text-align: left;
  letter-spacing: 0.16em;
  font-weight: bold;
  line-height: 2;
}
.list > li > p {
  color: var(--letter-color);
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: regular;
  line-height: 1.875;
}
.list > li {
  cursor: pointer;
}
.active {
  color: var(--brand-color);
}
.option {
  color: white;
  background-color: var(--brand-color);
}
